:ruby
  base_date = Date.current
  Date.beginning_of_week = :sunday
  date_range = base_date.beginning_of_month.beginning_of_week..base_date.end_of_month.end_of_week

%h2 #{base_date.month}月のカレンダー

%table.table.table-bordered.calendar
  %thead
  %tbody
